@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*height: 100%; !* Explicit height setting *!*/
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .bg-green-100 {
    background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
  }
  .btn_white {
    @apply border-white bg-white px-8 py-3 text-green-50
  }

  .btn_white_text {
    @apply border-white bg-white px-8 py-3 text-gray-90
  }

  .btn_green {
    @apply border-green-50 bg-green-50 px-8 py-5 text-white
  }

  .btn_dark_green {
    @apply bg-green-90 px-8 py-4 text-white transition-all hover:bg-black
  }

  .btn_dark_green_outline {
    @apply border-gray-20 bg-green-90 px-8 py-5 text-white
  }

  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-6 lg:px-20 3xl:px-0;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* FONTS */
  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }

  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  }

  .regular-32 {
    @apply text-[32px] font-[400];
  }

  .regular-24 {
    @apply text-[24px] font-[400];
  }

  .regular-20 {
    @apply text-[20px] font-[400];
  }

  .regular-18 {
    @apply text-[18px] font-[400];
  }

  .regular-16 {
    @apply text-[16px] font-[400];
  }

  .regular-14 {
    @apply text-[14px] font-[400];
  }

  .medium-14 {
    @apply text-[14px] font-[600];
  }

  .bold-88 {
    @apply text-[88px] font-[700] leading-[120%];
  }

  .bold-64 {
    @apply text-[64px] font-[700] leading-[120%];
  }

  .bold-52 {
    @apply text-[52px] font-[700] leading-[120%];
  }

  .bold-40 {
    @apply text-[40px] font-[700] leading-[120%];
  }

  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%];
  }

  .bold-20 {
    @apply text-[20px] font-[700];
  }

  .bold-18 {
    @apply text-[18px] font-[700];
  }

  .bold-16 {
    @apply text-[16px] font-[700];
  }


  .dropdown-content {
    @apply hidden absolute left-0 mt-1 w-40 bg-white shadow-md z-10;
  }

    /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .text-primary {
    @apply text-green-900;
  }

  .text-secondary {
    @apply text-green-700;
  }

  .text-tertiary {
    @apply text-gray-600;
  }

  /* Layout - Adjust the margin and padding to give more space */
  .layout-header {
    @apply mt-12 mb-8; /* Adjust top and bottom margin as needed */
  }

  .layout-main {
    @apply py-12; /* Increase y-padding for more space */
  }

  /* Input and button styling for better visual hierarchy */
  .input-search {
    @apply text-lg border rounded-tl rounded-bl p-2 w-full;
  }

  .button-search {
    @apply text-lg bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded-tr rounded-br w-full;
  }
  .layout-header {
    @apply mt-2 mb-8; /* Decrease the top margin to move the header up */
  }




  }

