@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*height: 100%; !* Explicit height setting *!*/
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  /*Home page*/


  .bg-green-100 {
    background: linear-gradient(135deg, #a8edea 0%, #fed6e3 80%);
    background-attachment: fixed;

  }
  .btn_white {
    @apply border-white bg-white px-8 py-3 text-green-50
  }

  .btn_white_text {
    @apply border-white bg-white px-8 py-3 text-gray-90
  }

  .btn_green {
    @apply border-green-50 bg-green-50 px-8 py-5 text-white
  }

  .btn_dark_green {
    @apply bg-green-90 px-8 py-4 text-white transition-all hover:bg-black
  }

  .btn_dark_green_outline {
    @apply border-gray-20 bg-green-90 px-8 py-5 text-white
  }

  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-6 lg:px-20 3xl:px-0;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  /*Simulator*/
  .dropdown-content {
    @apply hidden absolute left-0 mt-1 w-40 bg-white shadow-md z-10;
  }

    /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .text-primary {
    @apply text-black;
  }

  .text-secondary {
    @apply text-green-600;
  }

  .text-tertiary {
    @apply text-gray-500;
  }

  /* Layout - Adjust the margin and padding to give more space */
  .layout-header {
    @apply mt-12 mb-8; /* Adjust top and bottom margin as needed */
  }

  .layout-main {
    @apply py-12; /* Increase y-padding for more space */
  }

  /* Input and button styling for better visual hierarchy */
  .input-search {
    @apply text-lg border rounded-tl rounded-bl p-2 w-full;
  }

  .button-search {
    @apply text-lg bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded-tr rounded-br w-full;
  }
  .layout-header {
    @apply mt-2 mb-8; /* Decrease the top margin to move the header up */
  }



.situation-button {
  flex: 0 0 auto;
  width: 140px;
  height: 140px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  background-color: transparent;
  cursor: pointer;

}

  .situation-button:hover {
    transform: translateY(-2px);
}

  .situation-button-selected {
    @apply bg-purple-300 text-white;
  }


  .level-button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 9999px;
  transition: background-color 0.3s;
  white-space: nowrap;
  background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

  .level-button:hover {
    transform: translateY(-2px);
  }

  .level-button-selected {
  @apply bg-purple-300 text-white;
}


  .play-button {
    @apply bg-purple-200 text-white font-bold rounded-full p-4 inline-flex items-center justify-center shadow-md transition duration-300 ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 70px;
    height: 70px;
  }

  .play-button:hover {
    @apply bg-purple-300;
    transform: translateY(-2px);
  }

  /* The play and pause icons should be the same size as the buttons.*/
  .play-icon,
  .pause-icon {
    width: 50px;
    height: 50px;
  }

  /* Style the button text to ensure it is on the same line as the icon and centred vertically */
  .play-text {
    @apply ml-2 text-lg;
  }


  .reference-text {
    font-family: 'ReferenceFont', sans-serif;
    font-size: 14px;
    color: #888;
  }


  .volume-button {
    @apply text-black bg-white border border-gray-300 hover:bg-gray-50;
    transition: background-color 0.2s, transform 0.1s;
    width: 40px;  /* Circle diameter */
    height: 40px; /* Circle diameter */
    border-radius: 9999px; /* Circle border radius */
    margin: 0 8px; /* Spacing between buttons */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .volume-button-selected {
    @apply bg-purple-300 text-white border-purple-300 hover:bg-purple-400;
  }

  /* Button is slightly larger when hovered */
  .volume-button:hover {
    @apply bg-purple-300;
    transform: translateY(-2px);
  }

  /* Container for the self-test volume buttons */
  .volume-container {
    @apply mt-4 mb-6 flex justify-center items-center gap-2;
  }




  .performance-info,
  .recommendation-info {
    margin: 0;
    padding: 0;
    line-height: 1.2; /* Adjust as needed */
    @apply mt-0 mb-1; /* Tailwind classes for margin top and bottom */
  }





  .disclaimer {
    background: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 0.875rem; /* 14px */
  }











}

