/* styles/FlipCard.module.css */
.cardContainer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px; 
}

.flipCard {
  flex: 0 1 auto; /* flex-grow, flex-shrink, flex-basis */
  margin: 40px; 
  background-color: transparent;
  width: 280px; 
  height: 180px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid #d7aefb; /* 略深的粉紫色边框 */
  border-radius: 1rem;
  background: linear-gradient(120deg, #f8e6fa 60%, #f0d7f7 88%, #e8c7f3 40%, #e0b7ef 48%);
  color: #d7aefb; /* 略深的粉紫色文本 */
  padding: 20px;
}

.flipCardBack {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid #d7aefb; /* 略深的粉紫色边框 */
  border-radius: 1rem;
  background: linear-gradient(120deg, #e8c7f3 30%, #d7aefb 88%, #f8e6fa 40%, #e0b7ef 78%);
  color: #ffffff; /* 白色文本 */
  transform: rotateY(180deg);
  padding: 20px;
}

.centerText {
  font-size: 1.5em;
  font-weight: bold;
  color: #d7aefb; /* 略深的粉紫色文本 */
}

.hoverText {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.8em;
  color: #d7aefb; /* 略深的粉紫色文本 */
  transition: font-size 0.3s ease;
}


.leaveText {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.8em;
  color: #fff;
}
